In [1]:
import pandas as pd
import string
from sklearn.feature_extraction.text import TfidfVectorizer , CountVectorizer
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from shapely.geometry import Point
import geopandas 
from geopandas import GeoDataFrame

In [7]:
coffee_buz =  pd.read_csv('coffee_businesses.csv')

In [8]:
coffee_buz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   2061 non-null   object
 1   name          2061 non-null   object
 2   address       2054 non-null   object
 3   city          2061 non-null   object
 4   state         2061 non-null   object
 5   postal_code   2061 non-null   object
 6   latitude      2061 non-null   float64
 7   longitude     2061 non-null   float64
 8   stars         2061 non-null   float64
 9   review_count  2061 non-null   int64
 10  is_open       2061 non-null   int64
 11  attributes    2044 non-null   object
 12  categories    2061 non-null   object
 13  hours         1794 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 225.5+ KB

In [9]:
coffee_buz.sample()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
1383,XnlULC7HtAsjO064ZS0lgA,Starbucks,"805 Boyd Street, Suite 150",New Westminster,BC,V3M 5X2,49.192059,-122.949147,3.0,18,1,"{'BusinessParking': ""{'garage': False, 'street...","Coffee & Tea, Food","{'Monday': '5:0-21:0', 'Tuesday': '5:0-21:0', ..."

In [ ]:
def split(s):
    return s.split(", ")

#extracting categories
def categories_type(l):
    d = {}
    l=l.dropna().copy()
    l['categories'] = l['categories'].apply(split)
    for row in l.index:
        stars = l.loc[row, ]['stars']
        for c in l.loc[row, ]['categories']:
            
            if c not in d.keys():
                d[c] = [stars]
            else:
                d[c].append(stars)
    
    rest_categories = pd.DataFrame({'stars':list(d.values())})
    rest_categories.index = d.keys()
    rest_categories['number'] = rest_categories['stars'].apply(lambda a : len(a))
    rest_categories['percentage'] = rest_categories['number'] / len(l) * 100
    rest_categories['average_stars'] = rest_categories['stars'].apply(lambda a : sum(a) / len(a))
    rest_categories = rest_categories.drop(['stars'], axis=1)
    
    return rest_categories

#extracting attributes
def attributes(l):
    d = {}
    l=l.dropna().copy()
    for row in l.index:
        stars = l.loc[row, ]['stars']
        for c in l.loc[row, ]['attributes']:
            if c not in d.keys():
                d[c] = [stars]
            else:
                d[c].append(stars)
    
    rest_categories = pd.DataFrame({'stars':list(d.values())})
    rest_categories.index = d.keys()
    rest_categories['number'] = rest_categories['stars'].apply(lambda a : len(a))
    rest_categories['percentage'] = rest_categories['number'] / len(l) * 100
    rest_categories['average_stars'] = rest_categories['stars'].apply(lambda a : sum(a) / len(a))
    rest_categories = rest_categories.drop(['stars'], axis=1)
    
    return rest_categories